<!DOCTYPE html>
<html>
<head>
    <title>Books | Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
        <div id="header">
            <h2>Welcome, {{session['name']}}</h2>
            <a href="/add">Add Book and Review</a> 
            <a href="/">Logout</a>
        </div>
        <div id="reviews">
            <h3>Recent Book Revews:</h3>
            <h3><a href="/">Book Title</a></h3>
            <p>Rating: </p>
            <p> User says:  </p>
        </div>
        <div id="other_books">
            <p><a href="/">Book Title</a></p>
            <p><a href="/">Book Title</a></p>
        </div>
    </div>  
</body>
</html>